* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;

    background-image: url('/about/opening_background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100%;
    width: 100%;
}
  
  /* font */
  @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
  
  .zen {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  #logo {
    text-decoration: none;
    color: black;
  }
  
  #logo:hover {
    color: #ffc107;
  }
  
  body {
      font-family: Arial, sans-serif;
      overflow-x: hidden;
  }
  
 
/* font */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.zen {
font-family: "Zen Dots", sans-serif;
font-weight: 400;
font-style: normal;
}


#logo {
text-decoration: none;
color: black;
}

#logo:hover {
color: #ffc107;
}


.word {
font-size: 24px;
margin-bottom: 20px;
}
.letters {
margin-top: 20px;
}
.letters button {
font-size: 16px;
padding: 5px 10px;
margin: 5px;
cursor: pointer;
}

.shadow-text {
text-shadow: 2px 2px 2px black;
}

.gameName{
color: #ffc107;
}

#hint {
margin-top: 20px;
}

.main {
    background: linear-gradient(-45deg, #e9d39080, #ffe9a7, #ffffffc0, #ffffffad);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

    
  .word {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .letters {
    margin-top: 20px;
  }
  .letters button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .shadow-text {
    text-shadow: 2px 2px 2px black;
  }
  
  .gameName{
    color: #ffc107;
  }
  
  #hint {
    margin-top: 20px;
  }
  
  .main {
      background: linear-gradient(-45deg, #e9d39080, #ffe9a7, #ffffffc0, #ffffffad);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  