* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* .colorEffect {
    
	background: linear-gradient(-45deg, #ffc61c94, #ffc107b7, #ffffff, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    z-index: -1;

}  */

.zen {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.background {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('/Opening/opening_background_image.png');
    background-size: cover;
    background-position: center;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ffc61c94, #ffc107b7, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    opacity: 0.8; /* Adjust the opacity as needed */
    z-index: -1;
}

.center-content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



/* modal falling letters */

.falling_letters {
    /* height: 100%; */
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
            background: #00000072;
    color: #000000;
}

.falling-letters {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    /* pointer-events: none; */
    z-index: 0;
}

.letter {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    animation: fall linear infinite;
    color: #ffc107;
    pointer-events: none;
    
}

.modal-content {
    z-index: 10;
}

.modal-backdrop {
    z-index: 5;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh) rotate(-360deg);
        opacity: 1;
    }
}

.colorEffect_modal {
	background: linear-gradient(-45deg, #e9d39080, #ffe9a790, #ffffff, #ffffff);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#startButton {
    text-decoration: none;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}



nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

#placeholder {
    display: flex;
    flex-direction: column;
}

.links li {
    list-style: none;
    
}

.links a {
    text-decoration: none;
    color: black;
}

